// 對話內容區
.w100
  .othe-msg
    .msg-time Peter Wei 02:42pm
    ul.flex
      li.msg-label.color-p P
      li.msg-content Like the color transition between right and left panel :D
  .othe-msg
    .msg-time Peter Wei 02:42pm
    ul.flex
      li.msg-label.color-h H
      li.msg-content Hello, Solomon
  .othe-msg
    .msg-time Peter Wei 02:42pm
    ul.flex
      li.msg-label.color-s S
      li.msg-content How’s going today
  .my-msg
    .msg-time 02:43pm
    ul.flex
      li.msg-label.color-k K
      li.msg-content 大家好
  .othe-msg
    .msg-time Peter Wei 02:42pm
    ul.flex
      li.msg-label.color-e e
      li.msg-content worked on amazing project
  .othe-msg
    .msg-time Peter Wei 02:42pm
    ul.flex
      li.msg-label.color-p P
      li.msg-content Like the color transition between right and left panel :D
  .othe-msg
    .msg-time Peter Wei 02:42pm
    ul.flex
      li.msg-label.color-h H
      li.msg-content Hello, Solomon
  .othe-msg
    .msg-time Peter Wei 02:42pm
    ul.flex
      li.msg-label.color-s S
      li.msg-content How’s going today
  .my-msg
    .msg-time 02:43pm
    ul.flex
      li.msg-label.color-k K
      li.msg-content 大家好
  .othe-msg
    .msg-time Peter Wei 02:42pm
    ul.flex
      li.msg-label.color-e e
      li.msg-content worked on amazing project
  .othe-msg
    .msg-time Peter Wei 02:42pm
    ul.flex
      li.msg-label.color-p P
      li.msg-content Like the color transition between right and left panel :D
  .othe-msg
    .msg-time Peter Wei 02:42pm
    ul.flex
      li.msg-label.color-h H
      li.msg-content Hello, Solomon
  .othe-msg
    .msg-time Peter Wei 02:42pm
    ul.flex
      li.msg-label.color-s S
      li.msg-content How’s going today
  .my-msg
    .msg-time 02:43pm
    ul.flex
      li.msg-label.color-k K
      li.msg-content 大家好
  .othe-msg
    .msg-time Peter Wei 02:42pm
    ul.flex
      li.msg-label.color-e e
      li.msg-content worked on amazing project
