#host-panel.setting-slider.navbar-offcanvas.navbar-offcanvas-touch.navbar-offcanvas-right.flex
  .subtitle
    span
      img(src='assets/images/icon-host.svg')
    | 主控台
    .slider-close.navbar-toggle.offcanvas-toggle(data-toggle='offcanvas', data-target='#host-panel') X
  .panel-group
    .btn-group.mute-allmic
      .mic
        img.no-mute(src='assets/images/icon-mute.svg')
      .btn-text(data-toggle='modal', data-target='#closeMicModal') mute all mic
    .btn-group.open-allmic
      .mic
        img.no-open(src='assets/images/icon-mic.svg')
      .btn-text open all mic
    .item-name 與會人員
    .inner-addon.right-addon.mg-btm20
      i.glyphicon.glyphicon-search.search
      input(type='text', placeholder='以英文姓名搜尋')
  .panel-group.name-list
    ul.list-group
      li.list-group-item
        h5 Kate Lin
        .flex.host-control
          .host-mic.flex.justify-center.active
            img(src='assets/images/icon-mic.svg')
          .host-btn.active
            span assign to 
            | host
      li.list-group-item
        h5 Cathy Wu
        .flex.host-control
          .host-mic.flex.justify-center
            img(src='assets/images/icon-mic.svg')
          .host-btn
            span assign to 
            | host
      li.list-group-item
        h5 Teddy Chang
        .flex.host-control
          .host-mic.flex.justify-center
            img(src='assets/images/icon-mic.svg')
          .host-btn
            span assign to 
            | host
      li.list-group-item
        h5 Solomon Chen
        .flex.host-control
          .host-mic.flex.justify-center.active
            img(src='assets/images/icon-mic.svg')
          .host-btn
            span assign to 
            | host
      li.list-group-item
        h5 Penny Haung
        .flex.host-control
          .host-mic.flex.justify-center.active
            img(src='assets/images/icon-mic.svg')
          .host-btn
            span assign to 
            | host
      li.list-group-item
        h5 Benny Liu 5
        .flex.host-control
          .host-mic.flex.justify-center.active
            img(src='assets/images/icon-mic.svg')
          .host-btn
            span assign to 
            | host
