header {
  position: relative;
  width: 100%;
  height: 90px;
  vertical-align: top;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
  @include box-shadow (0 0 20px rgba(0, 0, 0, 0.5));
}
.logo {
	min-width: 90px;
	height: 100%;
	background: url('../images/logo.svg') no-repeat center center;
	z-index: 5;
	background-size: cover;
}
.console-wrap {
	min-width: 710px;
	height: 100%;
	background: $textGray;
}
.member-info{
	width: 250px;
	height: 100%;
	border-bottom: 3px solid transparent;
	-moz-border-image: -moz-linear-gradient(top left, $greenRight 0%, $greenEnd 100%);
	-webkit-border-image: -webkit-linear-gradient(top left, $greenRight 0%, $greenEnd 100%);
	border-image: linear-gradient(to bottom right, $greenRight 0%, $greenEnd 100%);
	border-image-slice: 1;
}
.name-label {
	width: 46px;
	height: 46px;
	background: #000;
	text-align: center;
    line-height: 46px;
    margin-left: 20px;
    font-size: 22px;
    font-weight: 300;
    text-transform:uppercase;
	@include border-radius(50%);
}
.name-sayhi {
	@include flex-width(1);
}
.name-sayhi p { 
	margin: 0 0 0 15px;
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: 100;
	text-transform: capitalize;
}
.name-sayhi p:nth-child(2) {
	color: rgba(255, 255, 255, 0.3);
	font-size: 16px;
}
.console-audio {
	position: relative;
	width: 260px;
	height: 100%;
	padding: 7px 20px 0 50px;
	border-right: 1px solid rgba(255, 255, 255, 0.1);
	color: rgba(255, 255, 255, .3);
	letter-spacing: 1px;
	font-weight: 100;

	span {
		font-size: 13px;	
	}
	p {
		width: 46px;
		height: 46px;
		margin: 0 0 0px 0;
		background: $textGray;
		@include border-radius(50%);
		@include box-shadow (inset 0 0 15px rgba(0,0,0,.35));
	}
	img {
		@include filter(opacity(.4) saturate(0));
	}
	.border{
		position: relative;
		background-color: $textGray;
		padding: 5px;
		margin-bottom: -3px;
		@include border-radius(50%);
	}
	.active  {
	    background-color: #4D505A;
	    @include border-radius(50%);
	    @include box-shadow(0 0 25px rgba(0,0,0,.7));

		p {
			width: 46px;
			height: 46px;
			@include box-shadow(inset 0 0 15px rgba(0,0,0,.15));
		}
		img {
			@include filter(opacity(1) saturate(1));
		}
		span {
			height: 43px;
			@include filter(opacity(1) saturate(1));
		}

	}
}

.console-audio>div{
	cursor: pointer;
}
#console-cam {
	position: relative;


}
.cam-allopen {
	position: absolute;
	top: 92px;
	left: -48px;
	width: 380px;
	z-index: 99;
	background-color: #37393F;
	color: #fff;
	padding: 15px;
	box-shadow: 0 -10px 25px rgba(0, 0, 0, 0.3), 0 0 15px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.2);
	// @include box-shadow (0 0 15px rgba(0, 0, 0, 0.5), 0 0 15px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.2));

	h5 {
		line-height: 40px;
		width: 280px;
		text-align: left;
	}
	.cam-btn {
		width: 100%;
		border: 0;
		width: 100%;
		text-align: center;
		cursor: pointer;
		font-weight: 400;
		line-height: 40px;
		// padding: 10px 0;
		@include border-radius(20px);
		@include flex-width(1);      
		@include background-gradient-horizontal($greenRight, $greenEnd);  
	}	
}
.cam-allopen:before {
	content: '';
    position: absolute;
    top: -10px;
    right: 50%;
    left: 50%;
    margin-left: -10px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #37393F transparent;
}

#console-screen {
	position: relative;
	.active {
		@include background-gradient($redTop, $redEnd);
		@include border-radius(50%);
		img { width: 44%; }
	}
	img {
		width: 40%;
		margin-left: 3px;
	}
	.screen-share:before {
		content: '';
        display: inline-block;
	    width: 0px;
	    height: 0px;
	    border-width: 10px;
	    border-style: solid;
	    border-color: transparent transparent $redTop transparent;
	    position: absolute;
	    top: -19px;
	    right: 50%;
	    left: 50%;
	    margin-left: -10px;
	}
	.screen-share {
		position: absolute;
		z-index: 99;
		top: 83px;
		right: 50%;
	    left: 50%;
	    margin-left: -65px;
		color: #fff;
		width: 130px;
		letter-spacing: 0;
		padding: 12px 0;
		display: none;
		@include background-gradient($redTop, $redEnd);
		@include border-radius(20px);
	}	
}

#console-mic {
	.active {
		@include box-shadow (0 0 0);
		background-color: $textGray;
	}
	img {
		width: 32%;
	}
	.active img {
		width: 36%;
	}
}

#console-cam {
	img {
		width: 54%;
		margin-left: 2px;
	}
	.active img {
		width: 57%;
	}
}
.console-item {
	width: 100px;
	height: 100%;
	border: 0;	
	border-right: 1px solid rgba(255, 255, 255, 0.1);
	cursor: pointer;
	text-align: center;
	padding: 4px 10px 0;
	margin: 0;
	@include border-radius(0);
	@include transition(0.3s);

	p:nth-child(1) {
	    margin-bottom: 7px;
		width: 100%;
	    height: 38px;    
	}
	.label-option {
		background: url('../images/icon-setting.svg') no-repeat top center;
		background-size: 36px;
	}
	.label-host {
		background: url('../images/icon-host.svg') no-repeat center center;
		background-size: 37px;
	}
	p {
		width: 100%;
		margin: 0;
		padding: 0;
		font-size: 15px;
		line-height: 16px;
		letter-spacing: 1px;
		font-weight: 100;
		@include transition(0.3s);
	}
	:hover p {
		color: #fff;
		@include filter(saturate(0) brightness(2));
		@include transition(0.3s);
	}

}
.console-item:hover {
	background-color: rgba(0,0,0,0.1);
	@include transition(0.3s);
	@include box-shadow (inset 0 0 15px rgba(0,0,0,.35));
}
.is-open {
		color: #a0a0a0;
		@include filter(saturate(0) brightness(2));
		@include transition(0.3s);
		@include box-shadow (inset 0 0 15px rgba(0,0,0,.35));
}
.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}


@media only screen and (max-width: 1220px) {
	header                             { height: 76px; }
	header, .name-sayhi p              { font-weight: 400; font-size: 16px; line-height: initial;} 
	.console-wrap                      { min-width: 575px; }
	.logo                              { min-width: 70px; height: 76px; }
	.member-info                       { width: 210px; }
	.console-item                      { width: 76px; }
	.console-item p                    { font-size: 13px; font-weight: 300; }
	.console-audio                     { width: 210px; padding: 5px 15px 0 30px; color:rgba(255, 255, 255, 0.6); }
	.console-audio span                { line-height: initial; }
	.console-audio .border             { padding: 3px; }
	.console-audio p, .console-audio p { width: 40px !important; height: 40px !important; }
	.console-audio .active             { @include box-shadow (0 0 15px rgba(0, 0, 0, 0.7) !important);}
	.console-item .label-option        { background-size: 33px; }
	.console-item .label-host          { background-size: 34px; }
	.console-item p:nth-child(1)       { margin-bottom: 2px; }
	#console-screen .screen-share 	   { top: 72px; }
	.cam-allopen 					   { top: 82px; left: -80px; }
}